<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: header">
</head>
<body>
    <div class="container">
            <div class="row">
                <div class="col-3">
                    <h1>Product list</h1>
                </div>
                <div class="col-9">
                    <form class="form-inline" th:method="get">
                        <input type="number"  class="form-control-md" id="min"
                               name="min" placeholder="Min">
                        <input type="number"  class="form-control-md" id="max"
                               name="max" placeholder="Max">
                        <input type="text" th:value="${param.titleFilter}" class="form-control-md" id="title-filter"
                               name="titleFilter" placeholder="Find">
                        <button type="submit" class="btn btn-outline-dark"><i class="fas fa-search"></i></button>
                        <a class="btn btn-outline-dark" th:href="@{/product/new}">ADD</a>
                    </form>
                </div>
            </div>

            <div class="col-auto">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <th scope="row" th:text="${product.id}">id</th>
                        <td th:text="${product.title}">title</td>
                        <td th:text="${product.description}">description</td>
                        <td th:text="${product.price}">price</td>
                        <td>
                            <a class="btn btn-success" th:href="@{/product/{id}(id=${product.id})}"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" th:href="@{/product/delete/{id}(id=${product.id})}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
    </div>
<script th:replace="fragments/footer :: scripts"></script>
</body>
</html>